<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/botTest/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/botTest/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/botTest/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../static/botTest/js/bootstrap.min.js"></script>
    <title>botTest</title>
  </head>
  <body>
    <h1>RyoBot</h1>
    <!-- <ul>
        <li></li>
    </ul>
    <p>ssssss.</p>
    <p class="triangle-right left">
      komakomakomakoma
    </p>
    <p class="triangle-right right">
      aaaawiwiwiwiwiwiw
    </p>
     -->
    <br />
    <div class="chat-box">
      <div class="chat-face">
        <img src="../../static/botTest/img/ryo.jpg" alt="自分のチャット画像です。" width="60" height="60">
      </div>
      <div class="chat-area">
        <div class="chat-hukidashi">
          {{ ret[0] }}
        </div>
      </div>
    </div>

    <div class="chat-box">
      <div class="chat-face">
        <img src="../../static/botTest/img/saki.jpg" alt="誰かのチャット画像です。" width="60" height="60">
      </div>
      <div class="chat-area">
        <div class="chat-hukidashi someone">
          {{ ret[2] }}
        </div>
      </div>
    </div>
    <form>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </body>
</html>
