<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/botTest/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/botTest/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/botTest/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../static/botTest/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function cliAjax() {
        $.ajax({
          url : '/bot/ajax',
          type:'GET'
        })
        .done(function(data) {
          var e1 = document.getElementById('ret2div');
          // 子要素の追加
          var d1 = document.createElement('div');
          d1.textContent = data.ret1;
          var d2 = document.createElement('div');
          d2.textContent = data.ret2;
          e1.appendChild(d1);
          e1.appendChild(d2);
          setTimeout(function() {
            window.scroll(0,$(document).height());
          },0);
        })
        .fail(function(XMLHttpRequest, textStatus, errorThrown) {
          alert('ng');
        })
      }
    </script>
    <title>botTest</title>
  </head>
  <body　style="margin-left : 30px ;">
    <table>
      <h1>RyoBot</h1>
      <!-- <ul>
          <li></li>
        </ul>
        <p>ssssss.</p>
        <p class="triangle-right left">
        komakomakomakoma
      </p>
      <p class="triangle-right right">
        aaaawiwiwiwiwiwiw
      </p>
      -->
      <br />
      <div class="chat-box">
        <div class="chat-face">
          <img src="../../static/botTest/img/ryo.jpg" alt="自分のチャット画像です。" width="60" height="60">
        </div>
        <div class="chat-area">
          <div class="chat-hukidashi">
            <div name="ret1">{{ret1}}</div>
          </div>
        </div>
      </div>

      <div class="chat-box" id="ret2div">
        <div class="chat-face">
          <img src="../../static/botTest/img/saki.jpg" alt="誰かのチャット画像です。" width="60" height="60">
        </div>
        <div class="chat-area">
          <div class="chat-hukidashi someone">
            <div name="ret2">{{ret2}}</div>
          </div>
        </div>
      </div>
      <form action="/bot/" method="post">{% csrf_token %}
        <!-- <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" id="exampleInputFile">
          <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Check me out
          </label>
        </div>
        -->
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <br />
      <br />
      <input type="button" value="ajax通信" onclick="cliAjax()"></input>
    </table>
  </body>
</html>
